# ElevenLabs
ELEVENLABS_API_KEY=your_elevenlabs_api_key
IRON_SESSION_SECRET_KEY=your_iron_session_secret_key
ELEVENLABS_AGENT_ID_FUN=your_fun_agent_id
ELEVENLABS_AGENT_ID_EDU=your_edu_agent_id
ELEVENLABS_AGENT_ID_DEEP=your_deep_agent_id
ELEVENLABS_WEBHOOK_SECRET=your_elevenlabs_webhook_secret

# Clerk
VITE_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
CLERK_JWT_ISSUER_URL=your_clerk_jwt_issuer_url
CLERK_WEBHOOK_SECRET=your_clerk_webhook_secret

# Convex
CONVEX_URL=your_convex_url
CONVEX_DEPLOYMENT=your_convex_deployment
CONVEX_DEPLOYMENT_KEY=your_convex_deployment_key